@import url(normalize.css);
@import url(ani.css);





*, *:before, *:after {

    -moz-box-sizing: border-box;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;

}

body {

    background:#ecf0f1;

    font-family:'Open Sans', sans-serif;

    font-size:62.5%;

    color:#fff;

}

#container {

    /*margin:0 auto;*/

}

.grid_items {

    list-style-type:none;
    visibility: hidden;    
    border:1px solid #e3e5e5;

    width:200px;

    height: 212px;
    float:left;

    margin-bottom:5px;

    padding: 18px 5px 0;

    -moz-border-radius:4px;

    -webkit-border-radius:4px;

    border-radius:4px;

}

.grid_items img {

    display:none;

    -moz-border-radius:50%;

    -webkit-border-radius:50%;

    border-radius:50%;

}

.grid_items div {

    display:block;

    text-align: center;

    

}

.grid_items .pic {

    text-align: center;

    border:4px solid transparent;


    overflow: hidden;

    width:88px;

    height:88px;

    margin:0 auto;
    -moz-border-radius:50%;

    -webkit-border-radius:50%;

    border-radius:50%;

    -moz-transition:all 0.3s ease;

    -webkit-transition:all 0.3s ease;

    transition:all 0.3s ease;

}

.grid_items:hover .pic {

    -webkit-transform: rotate(325deg);

    -moz-transform: rotate(325deg);

    -ms-transform: rotate(325deg);

    -o-transform: rotate(325deg);

    transform: rotate(325deg);

    border-color:#fff;

    box-shadow: 0 2px 2px #333;

}

.grid_items .name {

    margin-top:10px;
    font-size: 1.2em;
    font-weight:800;
}

.grid_items .username {

    font-style:italic;
    font-size: 1.2em;
    margin:3px 0 10px;

    font-weight:600;

}

.grid_items .location {

    font-size:1.1em;

    font-weight:600;

}

.main_user {

    width:818px;

    height:734px !important;

    background:#f1c40f;

    color:#95a5a6;

    padding:0;

    border:1px solid #e3e5e5;

    border-bottom-width: 2px;

    border-radius:6px;

}

.cover_photo {

    border-radius:6px;

    height:315px;

    position: relative;

}
.cover_wrapper{position: relative; overflow: hidden;height:315px;}
.cover_wrapper > img{
    display: block;
    image-rendering: optimizequality;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    border-radius:4px;
}

.userbg {

    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.7) 100%);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));

    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.7) 100%);

    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.7) 100%);

    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.7) 100%);

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.7) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03000000', endColorstr='#b3000000', GradientType=0);

    position:absolute;

    bottom:0;

    width:100%;
    height:100px;
    z-index: 2;

}

.me_photo{
    position: absolute;
    left:4%;
    bottom:-33px;
    border:3px solid #fff;
    -moz-box-shadow:0 1px 4px #333333;
    -webkit-box-shadow:0 1px 4px #333333;
    box-shadow:0 1px 4px #333333;
}

.me_name{
    position: absolute;
    left:18%;
    bottom:5px;
    color:#fff;
    font-size:3.2em;
    font-weight: 200;
    text-transform: capitalize;
    text-shadow:0 1px 0 #333333;
    
}

.user_details{
    border-left: 1px solid #bdc3c7;
    list-style-type: none;
    margin: 16px 0 0 80px;
    padding: 16px 0;
    font-size: 2em;
    color: #34495e;
    width:350px;
    float:left;
}

.user_details li{
    line-height: 42px;
    padding: 25px 0 25px 25px;
    position: relative;
}

.user_details span{
    /*background: none repeat scroll 0 0 #333333;*/
    border-radius: 50%;
    display: block;
    height: 30px;
    left: -17px;
    position: absolute;
    width: 30px;
    top:50%;
    margin-top:-15px;
    line-height: 27px;
    text-align: center;
}

#chart_container{
    width:350px;
    height:350px;
    margin:50px 10px 0 0;
    position:relative;
    float:right;
}

.chart_title{text-transform: uppercase;font-weight: 100;}
.headingelem_1{font-size: 2em;}
.headingelem_2{font-size: 4.6em;}
.headingelem_3{font-size: 1.7em; line-height: 0.4em;}

.highcharts-tooltip > span {
    background-color:#fff;
    z-index:2!important;  
    border-radius:50%;
}
.tooltip_main{
    width:200px; 
    height:200px;
    display:block;
    position:relative;
}
.tooltip_count{
    position:absolute;
    left:50%;
    top:42px;
    width:215px;
    margin-left:-108px;
    font-size:8em;
    font-weight: 100;
    color:#34495e;
 }
.tooltip_location{
    position:absolute;
    color:#2c3e50;
    width:200px;
    left:50%;
    bottom:40px;
    margin-left:-100px;
    font-size:1.1em;
    font-weight: 600;
    line-height:18px;
     white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
 }





/*@media only screen and (min-width : 768px) {

.grid_items{
    width:200px;
}

}*/
