@import url(normalize.css);


*, *:before, *:after {

    -moz-box-sizing: border-box;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;

}

body {

    background:#ecf0f1;

    font-family:'Open Sans', sans-serif;

    font-size:62.5%;

    color:#fff;

}

#container {

    margin:0 auto;

}

.grid_items {

    list-style-type:none;

    background:#333;
    width:200px;
    /*width:100%;*/

    height: 212px;

    /*max-height: 212px;*/

    margin:2px;

    padding: 18px 5px 0;

    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;


}

.grid_items img {
    display:none;
    -moz-border-radius:44px;
    -webkit-border-radius:44px;
    border-radius:44px;
}

.grid_items div {

    display:block;

    text-align: center;

    font-size: 1.2em;

    margin-bottom:3px;


}

.grid_items .pic {

    text-align: center;

    border:4px solid transparent;

    -moz-border-radius:44px;
    -webkit-border-radius:44px;
    border-radius:44px;

    overflow: hidden;

    width:88px;

    height:88px;

    margin:0 auto;

    -moz-transition:all 0.3s  ease;

    -webkit-transition:all 0.3s  ease;

    transition:all 0.3s  ease;

}

.grid_items:hover .pic {

    -webkit-transform: rotate(325deg);

    -moz-transform: rotate(325deg);

    -ms-transform: rotate(325deg);

    -o-transform: rotate(325deg);

    transform: rotate(325deg);

    border-color:#fff;

    box-shadow: 0 2px 2px #333;

}

.grid_items .name {

    margin-top:10px;

    font-weight:800;

}

.grid_items .username {

    font-style:italic;

    margin-bottom:10px;

    font-weight:600;

}

.grid_items .location {

    font-size:1.1em;

    font-weight:600;

}

.main_user {

    width:811px;

    height:765px !important;

    background:#f1c40f;

    color:#95a5a6;
    padding:0;
    border:1px solid #e3e5e5;
    border-bottom-width: 2px;
    border-radius:6px;

}

.cover_photo{
    border-radius:8px;
    height:266px;
}

/*@media only screen and (min-width : 768px) {

.grid_items{
    width:200px;
}

}*/