<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body >

  <div id="fb-root"></div>



  <div ng-controller="test">
    
    <div ng-cloak>{{name}}</div>
    <input type="text" ng-model="svs">
    <ul>
      <li ng-repeat=" friend in friends | filter:svs">
          {{friend.name}}
      </li>
    </ul>

  </div>
  
<script src="angular.js"></script>
<script>

      angular.module('FbTest', [])
      
      .controller('test', ['$scope', '$rootScope', function($scope, $rootScope){

        $scope.name = 'Surendra'; 

        FB.login(function(response) {// fb login as soon as the ui loads
            if (response.authResponse) {
                FB.api('/me/friends', function(response) {
                    //console.log(response);
                    //alert(JSON.stringify(response));
                    $scope.$apply(function() {
                       $scope.friends=response.data;
                    });
                });
            } else {
                //do nothing..
            }
        });
        
      }])
</script>
<script>
    window.fbAsyncInit = function() {
          FB.init({
              appId: '488181561252340', // App ID
              channelUrl: 'https://socialike.herokuapp.com/home.html', // Channel File
              status: true, // check login status
              cookie: true, // enable cookies to allow the server to access the session
              xfbml: false // parse XFBML

          });

          angular.bootstrap(document.body, ['FbTest']);
        };

        // Load the SDK asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk',
                ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
  </script>
</body>
</html>
